/*=============== VARIABLES CSS ===============*/
:root {
    --body-color: #f2fff9;

    --text-color: #4a5f51;
    --title-color: #0c7243;

    --h1-font-size: 40px;
    --h2-font-size: 16px;
    --title-font-size: 13px;
    --desc-font-size: 11px;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
}
h1 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}
h2 {
    font-size: var(--h2-font-size);
    text-transform: capitalize;
    font-weight: 600;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}
button,
input,
textarea {
    border: none;
    outline: none;
}
p {
    margin: 0;
}

.status,
.dropdown-item,
.btn,
.form-select {
    text-transform: capitalize;
}
.btn:focus {
    outline: none;
}
.bi:hover {
    cursor: pointer;
}
.bi-caret-up,
.bi-caret-up-fill,
.bi-caret-down,
.bi-caret-down-fill {
    height: 10px;
    font-size: 14px;
}
.active {
    color: #000;
}
.inactive {
    color: #c2c2c2;
}
/*=============== LAYOUT ===============*/
.container {
    margin-top: 20px;
}
.action {
    display: flex;
    align-items: center;
    flex-flow: wrap row;
    gap: 10px;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    box-shadow: -1px 0px 20px 0px #bafcdd;
}
.dropdown--sort {
    display: none;
}
.title {
    padding-top: 15px;
    padding-bottom: 5px;
    background: #fff;
    border-bottom: 2px solid #e6e6e6;
}
.task__table {
    background: #fff;
    box-shadow: -1px 0px 20px 0px #bafcdd;
}
.footer {
    border-top: 1px solid #e6e6e6;
    padding: 12px;
}

.empty {
    border-radius: 8px;
    text-align: center;
    background: #fff;
    padding: 20px 0 60px;
}
.empty p {
    padding: 10px 0 20px;
}
/*=============== COMPONENTS STYLE ===============*/
.action .btn {
    margin-left: auto;
}
.tasks {
    height: 50vh;
    overflow-y: auto;
}
.task {
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
    cursor: default;
}
.task--dragging {
    border: 1px solid #e2e2e2;
    border-bottom: none;
    background-color: #fff;
}
.task__title:hover {
    cursor: grab;
}

.task__desc {
    font-size: 12px;
    color: #b4b4b4;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tasks .dropdown-toggle::after {
    display: none;
}
.sort {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -9px;
}
.filter {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5px;
}
.form-check-input {
    margin-top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.form-check-input[type="checkbox"] {
    border-radius: 50%;
}
.form .btn {
    width: 100%;
}
.form__actions {
    border-top: 1px solid lightgray;
    padding-top: 18px;
}

.form__calendar {
    position: relative;
    cursor: pointer;
}
.bi-calendar {
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 8px;
}
.bi-calendar:hover {
    cursor: default;
}
.form-control:disabled {
    background-color: #fff;
}
.col--small {
    width: 4%;
}
.col--medium {
    width: 10%;
}
.col--scroll {
    width: calc(10% + 10px);
}
.col--extra--medium {
    width: 15%;
}
.col--action {
    width: 10%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.bi-circle-fill {
    margin-right: 4px;
}
/*=============== STATUS STYLE ===============*/
.not-started .btn {
    color: #232323;
    background-color: #cecece;
    border: #cecece;
}
.pending .btn {
    color: #c37500;
    background-color: #ffddaa;
    border: #ffddaa;
}
.in-progress .btn {
    color: #045821;
    background-color: #cdead6;
    border: #cdead6;
}
.delay .btn {
    color: #b10000;
    background-color: #f1c1c1;
    border: #f1c1c1;
}
.done .btn {
    color: #09339f;
    background-color: #cfd8ef;
    border: #cfd8ef;
}

/*=============== PRIORITY STYLE ===============*/
.priority {
    text-transform: uppercase;
    font-weight: 600;
}
.critical {
    color: #ff4040;
}
.high {
    color: #ff6d1b;
}
.medium {
    color: #ffd600;
}
.low {
    color: #089237;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b4b4b4;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #198754;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #115535;
}
/*=============== BREAKPOINTS ===============*/
@media only screen and (max-width: 992px) {
    .col--extra--medium {
        width: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .title,
    .footer {
        display: none;
    }
    .tasks {
        overflow-y: visible;
        height: auto;
    }
    .task__table {
        background: none;
    }
    .task {
        height: auto;
        border: none;
        margin-bottom: 10px;
        background-color: #fff;
        padding: 10px;
    }
    .task--dragging {
        border: none;
        box-shadow: 2px 0px #045821;
    }
    .task__title {
        padding: 0 0 0 18px;
    }
    .col--extra--medium {
        width: 28%;
        margin: 15px 0;
    }
    .col--action {
        margin-left: auto;
    }
    .col--priority {
        width: 25%;
    }
    .dropdown--sort {
        display: block;
    }
    .action p {
        width: 85%;
    }
}

@media only screen and (max-width: 568px) {
    .col--extra--medium {
        width: 50%;
    }
    .col--action {
        margin-left: auto;
        margin-right: 14px;
    }
    .deadline {
        text-align: right;
    }
    .btn--name {
        display: none;
    }
}
