/*=============== VARIABLES CSS ===============*/
:root {
    --header-color: #2e241d;
    --background-color: #493a32;
    --footer-color: #3f312a;

    --body-color: #fff;
    --border-color: #5c4a41;

    --text-color: #3a4b40;
    --title-color: #3a4b40;

    --h1-font-size: 40px;
    --h2-font-size: 24px;
    --title-font-size: 13px;
    --desc-font-size: 11px;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
    font-weight: 400;
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    color: var(--dark-text-color);
    font-size: var(--h2-font-size);
}
h3 {
    color: var(--title-color);
    letter-spacing: -0.3px;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}
button,
input,
textarea {
    border: none;
    outline: none;
}
p {
    margin: 0;
}

/*=============== LAYOUT ===============*/
.container {
    margin-top: 30px;
}
.title {
    margin-top: 30px;
}
.action {
    margin-top: 30px;
}
.action .btn {
    margin-left: auto;
}
.form-check-input {
    margin-top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.form-check-input[type="checkbox"] {
    border-radius: 50%;
}

.task-desc {
    font-size: 12px;
    color: rgb(155, 155, 155);
    white-space: nowrap;
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task .dropdown-toggle::after {
    display: none;
}
.bi {
    cursor: pointer;
}
.task__item {
    height: 60px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    cursor: default;
}

.col--small {
    width: 4%;
}
.col--medium {
    width: 10%;
}
.col--extra--medium {
    width: 15%;
}
.col--action {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.form .btn {
    width: 100%;
}
.form__actions {
    border-top: 1px solid lightgray;
    padding-top: 18px;
}
.status,
.dropdown-item,
.btn,
.form-select {
    text-transform: capitalize;
}
.calendar {
    position: relative;
    cursor: pointer;
}
.calendar__icon {
    position: absolute;
    right: 5;
    top: 5;
}

/*=============== STATUS STYLE ===============*/
.not-started .btn {
    color: #232323;
    background-color: #cecece;
    border: #cecece;
}
.pending .btn {
    color: #c37500;
    background-color: #ffddaa;
    border: #ffddaa;
}
.in-progress .btn {
    color: #045821;
    background-color: #cdead6;
    border: #cdead6;
}
.delay .btn {
    color: #b10000;
    background-color: #f1c1c1;
    border: #f1c1c1;
}
.done .btn {
    color: #09339f;
    background-color: #cfd8ef;
    border: #cfd8ef;
}

/*=============== PRIORITY STYLE ===============*/
.priority {
    text-transform: uppercase;
    font-weight: 600;
}
.critical {
    color: #ff4040;
}
.high {
    color: #ff6d1b;
}
.medium {
    color: #ffd600;
}
.low {
    color: #089237;
}
